{% extends "layout.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/controls_couple.css') }}"
/>
{% endblock %} {% block content %}
<h1>Controllo Coppia</h1>

<div class="game-info">
  <div class="current-player">
    Prenotazione in gioco: <span id="current-player">-</span>
  </div>
  <div class="next-player">
    Prossimo giocatore: <span id="next-player">-</span>
  </div>
  <div class="game-timer">Tempo trascorso: <span id="timer">00:00</span></div>
</div>

<div class="control-panel">
  <button
    id="next-player-btn"
    class="btn btn-next"
    onclick="activateNextPlayer()"
    disabled
  >
    Prossimo Giocatore
  </button>
  <div class="button-group">
    <button
      id="start-btn"
      class="btn btn-start"
      onclick="pressButton('first_start')"
    >
      START
    </button>
    <button
      id="stop-btn"
      class="btn btn-stop"
      onclick="pressButton('first_stop')"
    >
      STOP
    </button>
  </div>
  <div class="status">Stato: <span id="status">Inattivo</span></div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/controls_couple.js') }}"></script>
{% endblock %}
