{% extends "layout.html" %} {% block extra_css %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/toogle.css') }}"
/>

<style>
  .leaderboard-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .leaderboard {
    background: #00000080;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .leaderboard h2 {
    color: white;
    margin-bottom: 15px;
    text-align: center;
  }

  .leaderboard ul {
    list-style: none;
    padding: 0;
  }

  .leaderboard li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.1em;
  }
</style>
{% endblock %} {% block content %}
<h1>Classifiche</h1>
    <div class="toggle-container" id="treasure_hunt">
        <label class="toggle-switch">
            <input type="checkbox" id="myToggle" role="switch">
            <span class="slider">
                <span class="toggle-text off">FALSE</span>
                <span class="toggle-text on">TRUE</span>
            </span>
        </label>
        <span class="toggle-label-text">Abilita Sync</span>
    </div>

<div class="row" style="align-items: baseline; row-gap: 20px">
  <div class="col-3">
    <div class="top-players leaderboard">
      <h2>Migliori 3 Giocatori per Classifica</h2>
      <div id="top-players-container"></div>
    </div>
  </div>
  <div class="col-3">
    <div class="leaderboard">
      <h2>Classifica Coppie</h2>
      <ul id="couples-leaderboard"></ul>
    </div>
  </div>

  <div class="col-3">
    <div class="leaderboard">
      <h2>Classifica Singoli</h2>
      <ul id="singles-leaderboard"></ul>
    </div>
  </div>
  <div class="col-3">
    <div class="leaderboard">
      <h2>Classifica Charlie</h2>
      <ul id="charlie-leaderboard"></ul>
    </div>
  </div>

  {% endblock %} {% block scripts %}
  <script src="{{ url_for('static', filename='js/scoring.js') }}">
  </script>
  {% endblock %}
</div>
